@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --wrap-bg: #ffe8d6;
  --text-color: #081c15;
  --calc-bg: #ff4d6d;
  --border-color: #6b705c;
  --dark-color: #6d6875;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}













